/**
 * Place your custom styles here.
 */
.page-header {
  color: #fff;
}
.field-items {
  color: #fff;
}
h2 a{
  color: #59ddff;
}
body {
  background-image: url('../../../../default/files/stardust.png');
  background-position: 70% 50%;
}
.region-content {
    color: #fff;
}
.img-responsive {
    text-align: center;
}
#block-user-login {
    margin-top: 20px;
}
.field-content a {
    font-size: 30px;
}
#node-2 .img-responsive {
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
