/**
 * Place your custom styles here.
 */
.page-header {
  color: #fff;
}
.field-items {
  color: #fff;
}
h2 a{
  color: #59ddff;
}
body {
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/ngc6357.jpg");
  background-position: 70% 50%;
}
