/**
 * Place your custom styles here.
 */
.page-header {
  color: #fff;
}
.field-items {
  color: #fff;
}
h2 a{
  color: #59ddff;
}
body {
  background-image: url('../../../../default/files/stardust.png');
  background-position: 70% 50%;
}
.region-content {
    color: #fff;
}
.img-responsive {
    text-align: center;
}
